:root {
    --Bright-orange : hsl(31, 77%, 52%);
    --Dark-cyan     : hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    --Transparent-white: hsl(0, 0%, 100%, 0.75);
    /* (paragraphs) */
    --Very-light-gray  : hsl(0, 0%, 95%);
    /*(background, headings, buttons)*/
}

body {
    background: var(--Very-light-gray);
}

.container {
    width     : 950px;
    height    : 500px;
    position  : absolute;
    left      : 50%;
    top       : 50%;
    transform : translate(-50%, -50%);
    background: var(--Very-light-gray);
}

.conteudo {
    display: flex;
    height : 100%;
}

.conteudo__sedans {
    background: var(--Bright-orange);
    border-radius: .5rem 0 0 .5rem;
    padding: 5%;
}

.conteudo__suvs {
    background: var(--Dark-cyan);
    padding: 5%;
}

.conteudo__luxury {
    background: var(--Very-dark-cyan);
    border-radius: 0 .5rem .5rem 0;
    padding: 5%;
}

.titulo-modelo {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5rem;
    color: var(--Very-light-gray);
}

.texto-modelo {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--Transparent-white);
}

.botao-sedans {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    color: var(--Bright-orange);
    background: var(--Very-light-gray);
    border: none;
    border-radius: 1.5rem;
    height: 45px;
    width: 145px;
    margin-top: 4rem;
}

.botao-sedans:hover {
    cursor: pointer;
    background: rgb(190, 190, 190);

}

.botao-sedans:active {
    background: var(--Bright-orange);
    border: 2px solid var(--Transparent-white);
    color: var(--Very-light-gray);
}

.botao-suvs {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    color: var(--Dark-cyan);
    background: var(--Very-light-gray);
    border: none;
    border-radius: 1.5rem;
    height: 45px;
    width: 145px;
    margin-top: 4rem;
}

.botao-suvs:hover {
    cursor: pointer;
    background: rgb(190, 190, 190);
} 

.botao-suvs:active {
    background: var(--Dark-cyan);
    border: 2px solid var(--Transparent-white);
    color: var(--Very-light-gray);
}

.botao-luxury {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    color: var(--Very-dark-cyan);
    background: var(--Very-light-gray);
    border: none;
    border-radius: 1.5rem;
    height: 45px;
    width: 145px;
    margin-top: 4rem;
}

.botao-luxury:hover {
    cursor: pointer;
    background: rgb(190, 190, 190);
}

.botao-luxury:active {
    background: var(--Very-dark-cyan);
    border: 2px solid var(--Transparent-white);
    color: var(--Very-light-gray);
}

.attribution {
    text-align: center;
}

@media screen and (max-width: 950px) {

    .container {
        width: 80%;
        height: auto;
        margin: 85px auto;
        position  : initial;
        left      : initial;
        top       : initial;
        transform : initial;
    }
    
    .conteudo {
        flex-direction: column;
    }

    .conteudo__sedans {
        border-radius: 0.5rem 0.5rem 0 0;
        height: calc(430px - 48px);
        padding: 3rem;
    }

    .conteudo__suvs {
        height: calc(430px - 48px);
        padding: 3rem;
    }

    .conteudo__luxury {
        border-radius: 0 0 0.5rem 0.5rem;
        height: calc(430px - 48px);
        padding: 3rem;
    }

    .botao-sedans {
        margin-top: 1rem;
    }

    .botao-suvs {
        margin-top: 1rem;
    }

    .botao-luxury {
        margin-top: 1rem;
    }
}